<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <div class="create-icon">
        <p style="font-size: 3rem; font-weight: 800">+</p>
        <form class="" action="/tweet" method="POST">
        <textarea placeholder="Write your thoughts here" class="tweet hidden" name="tweet" id=""></textarea>
        <input type="submit" value="POST" class="tweet-button hidden"></form>
      </div>
    </div>
    <section class="whole-container">
      <header>
        <section class="story-container">
          <% userNamesArray.forEach(element => { %>
          <div class="story-tab author" id="<%= element %>" ><h2><%= element %></h2></div>

          <% }); %>
        </section>
        <section class="profile-container">
          <div class="profile-tab" style="text-align: center">
            <a href="/myprofile" class="profile-tab" ><%= user %></a>
          </div>
        </section>
      </header>

      <section class="tweet-container">
        <% usersTweetsArray.forEach(item=>{ let key = Object.keys(item)[0]; let
        value = item[key];%>

        <div class="tweet-tab author" id="<%=key%>" >
          <h4 style="margin-top: 3rem"><%= value %></h4>
          <h5 style="text-align: end">~ <%= key%></h5>
        </div>
        <% }) %>
      </section>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      //function for show individual profile tab
      $('.author').click(function(e){
    let author = this.id;
    $.ajax({
        type: 'POST',
        url: '/profile',
        data: { author: author },
        success: function(data) {
          $('.tweet-container').html(data);
        }
      });
   
});
      // functionality for create icon
      $(".create-icon").click(function (e) {
        
        $(this).addClass("expand");
        $('.tweet,.tweet-button').removeClass('hidden')
        $('p').addClass('hidden')
      });
      $(document).click(function(e){
        
        if(!(e.target.closest('.create-icon'))){
          $('.create-icon').removeClass("expand");
        $('.tweet,.tweet-button').addClass('hidden')
        $('p').removeClass('hidden')
        }
      })
    </script>
  </body>
</html>
